.box {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffebf0;
  color: #ff4d4d;
  padding: 10px 15px;
  border-radius: 30px; 
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  width: 150px;
  margin-left: 10px;
}